  
<!-- <h4 class="footer-title">{{ site.title }}</h4> -->

<div class="container">
<h4 class="footer-title">
  <img src="{{ site.static }}/img/bise-logo-small-inverted-lockup-horizontal.png" alt="BISE"
       width="258" height="36">
</h4>
<div class="row">
  <div class="col-md-6">
    
    <p>{{ site.description }}</p>
    <nav class="nav">
      <ul class="nav-list-inline">
        <li><a href="">Home</a></li>
        <li><a href="">About BISE</a></li>
        <li><a href="">Sitemap</a></li>
        <li><a href="">Contact us</a></li>
        <li><a href="">Log in</a></li>
      </ul>
    </nav>
  </div>

  <div class="col-sm-6">
    <div class="footer-logos">
      <ul class="list-footer-logos">
        <li><a href="#"><span>EU</span><img src="{{ site.static }}/img/logo-eu.png" alt="EU flag" height="48" width="auto"></a></li>
        <li><a href="#"><span>EEA</span><img src="{{ site.static }}/img/logo-eea.png" alt="EEA Logo" height="60" width="auto"></a></li>
        <li><a href="#"><span>CHM</span><img src="{{ site.static }}/img/logo-chm.png" alt="CHM Logo" height="66" width="auto"></a></li>
        <li><a href="#"><span>UN Decate on Biodeversity</span><img src="{{ site.static }}/img/logo-undb.png" alt="United Nations Decade on Biodiversity Logo" height="48" width="auto"></a></li>
      </ul>
    </div>
  </div>
  
</div>  
<div id="backdrop"></div>
</div>

