/* Generic fixes */

#content ul {
    margin-left: 0.3em;
}

.article p {
    margin: 0 0 0.5em 0;
}

strong {
    font-weight: bolder;
}

/* Edit bar fixes */

#edit-bar {
    min-height: 2.5em;
    margin-bottom: 0em;
    max-width: 64em;
}
#edit-bar ul {
    margin: 0em;
    padding-left: 0.3em;
}
#contentActionMenus {
    background: inherit;
    top: inherit;
}
dl.actionMenu {
    margin-left: 0em;
}

/* Fix /countries */

.portletStaticText ul {
    margin-left: 0em;
    padding-left: 0em;
}
.portletStaticText li {
    list-style-type: none;
}

/* ==============[ Main navigation ]==================== */
#portal-globalnav {
	height: 5em;
}
#portal-globalnav{
	width: 960px;
	margin-top: -20px;
	background: none;
}
#portal-globalnav li{
	width: 16.4%;
}
#portal-globalnav li div{
	height: 33px;
	width: 99%;
	font-size: 18px;
	padding-top: 15px;
	/**border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;*/
	border: 1px solid #168130;
	/**border-left: 2px solid white;
	border-top: 2px solid white;
	border-bottom: 2px solid white;	*/
	/**-moz-box-shadow: 0 0 0px 2px #ccc;
	-webkit-box-shadow: 0 0 0px 2px #ccc;
	box-shadow: 0 0 0px 2px #ccc;	*/
}
#portal-globalnav li a,
#portal-globalnav li a:hover
{
	padding: 0px;
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 18px;
	background: none;
	border-right: 0px;
	text-decoration: none;
}
#portal-globalnav li div#portaltab-topics {
	/* background-image: url(BISE-Tabs-01.png); */
	

	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#portal-globalnav li div#portaltab-policy {
	/* background-image: url(BISE-Tabs-02.png); */
}
#portal-globalnav li div#portaltab-data {
	/* background-image: url(BISE-Tabs-03.png); */
}
#portal-globalnav li div#portaltab-research {
	/* background-image: url(BISE-Tabs-04.png); */
}
#portal-globalnav li div#portaltab-countries {
	/* background-image: url(BISE-Tabs-05.png); */
}
#portal-globalnav li div#portaltab-networks {
	/* background-image: url(BISE-Tabs-06.png); */
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;	
}

.portalsubtabs{
	background-color: #fff !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 1px 1px 5px #cfcfcf;
	-webkit-box-shadow: 1px 1px 5px #cfcfcf;
	box-shadow: 1px 1px 5px #cfcfcf;
	z-index: 9999;
	padding: 10px;
	color: #000;
	font-size: 12px;
	display: none;
	border: 2px solid #d4d9cc;
}

.portalsubtabs .column {
	float: left;
	width: 289px;
	padding: 5px;
}
.portalsubtabs .first-level {
	list-style-image: url('../../bise-submenu-first-level.gif');
}
.portalsubtabs .list-title {
	padding: 5px;
	font-weight: bold;
	list-style-position: inside;
}
.portalsubtabs .list-title{
	background-image: url(../../Topics-bg.png);
	background-repeat: repeat-x;
	background: #84bf02;
	background: -moz-linear-gradient(top,  #84bf02 0%, #366617 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#84bf02), color-stop(100%,#366617));
	background: -webkit-linear-gradient(top,  #84bf02 0%,#366617 100%);
	background: -o-linear-gradient(top,  #84bf02 0%,#366617 100%);
	background: -ms-linear-gradient(top,  #84bf02 0%,#366617 100%);
	background: linear-gradient(to bottom,  #84bf02 0%,#366617 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84bf02', endColorstr='#366617',GradientType=0 );

}

.portalsubtabs .second-level {
	list-style-image: url('bise-submenu-second-level.gif');
	padding-left: 25px;
}
.portalsubtabs li {
	padding-top: 2px;
	padding-bottom: 2px;
	display: list-item !important;
}
.portalsubtabs .third-level {
	padding-left: 25px;
}
.portalsubtabs a,
.portalsubtabs a:link,
.portalsubtabs a:hover,
.portalsubtabs a:visited {
	color:#000;
}
.portalsubtabs .description {
	display: block;
	font-style: italic;
	color: gray;
	font-size: 12px;
}

/* ========== End main navigation =========== */
