/* Generic fixes */

#content ul {
    margin-left: 0.3em;
}

.article p {
    margin: 0 0 0.5em 0;
    
}


strong {
    font-weight: bolder;
}

.documentByLine {
    margin-bottom: 2em;

}

#content h1.documentFirstHeading {
    margin-bottom: 0em;
    margin-top: 1em;
}

#viewlet-social-like { float: right }

/* Edit bar fixes */

#edit-bar {
    min-height: 2.5em;
    margin-bottom: 0em;
    max-width: 64em;
}
#edit-bar ul {
    margin: 0em;
    padding-left: 0.3em;
}
#contentActionMenus {
    background: inherit;
    top: inherit;
}
dl.actionMenu {
    margin-left: 0em;
}

/* Fix /countries */

.portletStaticText ul {
    margin-left: 0em;
    padding-left: 0em;
}
.portletStaticText li {
    list-style-type: none;
}

/* Fix main navigation menu */
#portal-globalnav li {
    display: inline-block;
}

/* Fix cover layout buttons */
.btn-inverse {
    background-color: #363636 !important;
}

/* Frontpage fixes */
@media (min-width: 960px) { 
.page-homepage .page-header .col-md-4, .page-homepage .page-header .col-md-8 {
    float: left !important;
}
}
.page-homepage #edit-bar {
    max-width:100%;
}
