/* Generic fixes */

#content ul {
    margin-left: 0.3em;
}

.article p {
    margin: 0 0 0.5em 0;
}

strong {
    font-weight: bolder;
}

/* Edit bar fixes */

#edit-bar {
    min-height: 2.5em;
    margin-bottom: 0em;
    max-width: 64em;
}
#edit-bar ul {
    margin: 0em;
    padding-left: 0.3em;
}
#contentActionMenus {
    background: inherit;
    top: inherit;
}
dl.actionMenu {
    margin-left: 0em;
}

/* Fix /countries */

.portletStaticText ul {
    margin-left: 0em;
    padding-left: 0em;
}
.portletStaticText li {
    list-style-type: none;
}
